services:
  # PostgreSQL
  db:
    image: postgres:16-alpine
    container_name: skitrip_db
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - skitrip_network
    # Без проброса портов

  # Redis
  redis:
    image: redis:7-alpine
    container_name: skitrip_redis
    restart: unless-stopped
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
    networks:
      - skitrip_network
  # Без проброса портов

  # Django приложение
  web:
    build: .
    container_name: skitrip_web
    restart: unless-stopped
    volumes:
      - .:/app
      - ./config/media:/app/config/media
    environment:
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - skitrip_network

  # Celery Worker
  celery:
    build: .
    container_name: skitrip_celery
    restart: unless-stopped
    command: sh -c "cd /app/config && celery -A config worker --loglevel=info"
    volumes:
      - .:/app
      - ./config/media:/app/config/media
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - skitrip_network

networks:
  skitrip_network:
    driver: bridge

volumes:
  postgres_data:
  redis_data: