Здравствуйте, {{ user.get_username }}!

Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте SkiTrip Journal ({{ domain }}), которая связана с этим адресом электронной почты.

Пожалуйста, перейдите по этой ссылке и введите новый пароль:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо. Пароль останется без изменений.

С уважением,
Команда SkiTrip Journal
