services:
  # PostgreSQL
  db:
    image: postgres:16-alpine
    container_name: skitrip_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - skitrip_network
    # Без проброса портов

  # Redis
  redis:
    image: redis:7-alpine
    container_name: skitrip_redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
    networks:
      - skitrip_network
  # Без проброса портов

  # Django приложение
  web:
    build: .
    container_name: skitrip_web
    volumes:
      - .:/app
      - media_data:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - skitrip_network

networks:
  skitrip_network:
    driver: bridge

volumes:
  postgres_data: