<!--Страница курорта-->
{% extends 'base.html' %}

{% block title %}{{ title }} — SkiTrip Journal{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p class="text-muted">{{ resort.region }}</p>
<p>{{ resort.description }}</p>

<hr>
<p>Всего поездок: {{ trips_count }}</p>

{% if not user.is_authenticated %}
        <p><em>Войдите, чтобы посмотреть поездки пользователей</em></p>
{% else %}
    {% if trips %}
        <ul>
            {% for trip in trips %}
                <li>
                    Поездка в {{ trip.resort.name }}
                    {% if trip.is_public %}
                        (публичная)
                    {% else %}
                        (личная)
                    {% endif %}

                    <a href="{{ trip.get_absolute_url }}">Посмотреть поездку</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Пока нет поездок</p>
    {% endif %}

{% endif %}
{% endblock %}