<!--Детали поездки-->
{% extends 'base.html' %}

{% block title %}Поездка — SkiTrip Journal{% endblock %}

{% block content %}
<h2>{{ trip.resort.name }}</h2>
<p>{{ trip.start_date }} — {{ trip.end_date }}</p>
<p>{{ trip.comment }}</p>

<a href="{% url 'trip_edit' trip.id %}" class="btn btn-sm btn-outline-secondary">
    Редактировать
</a>

<a href="{% url 'trip_delete' trip.id %}" class="btn btn-sm btn-outline-danger">
    Удалить
</a>

<hr>
<h4 class="mt-4">Фотографии</h4>

{% if trip.media.all %}
    <div class="row">
        {% for photo in media_list %}
            <div class="col-md-4 mb-3">
                <img src="{{ photo.image.url }}" class="img-fluid trip-image">
                {% if trip.user == request.user %}
                    <a href="{% url 'trip_media_delete' photo.id %}" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Фотографии не добавлены.</p>
{% endif %}

{% if trip.user == request.user %}
    <a href="{% url 'trip_media_add' trip.id %}" class="btn btn-outline-primary mt-3">
        Добавить фото
    </a>
{% endif %}

{% endblock %}